<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Formulario</title>
</head>
<body>
  <h3 th:text="${titulo}"></h3>
  <form th:action="@{/form}" method="post">
    <div>
      <label for="username">Username: </label>
      <div>
        <!-- Se puede llamar a usuario, ya que Thymeleaf inyecta el usuario de forma implicita
              se debe usar el nombre definido en el param del mapping o declarando explicitamente con
              ModelAttribute
         -->
        <input type="text" name="username" id="username" th:value="${usuario.username}">
      </div>
      <div th:if="${errores != null && errores.containsKey('username')}"
            th:text="${errores.get('username')}">
      </div>
    </div>
    <div>
      <label for="password">Password: </label>
      <div>
        <input type="password" name="password" id="password">
      </div>
      <div th:if="${errores != null && errores.containsKey('password')}"
           th:text="${errores.get('password')}">
      </div>
    </div>
    <div>
      <label for="email">Email: </label>
      <div>
        <input type="email" name="email" id="email" th:value="${usuario.email}">
      </div>
      <div th:if="${errores != null && errores.containsKey('email')}"
           th:text="${errores.get('email')}">
      </div>
    </div>
    <div>
      <div>
        <input type="submit" name="sendBtn" id="sendBtn" value="Enviar">
      </div>
    </div>
  </form>
</body>
</html>