<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Formulario</title>
</head>
<body>
  <h3 th:text="${titulo}"></h3>
  <!-- aqui debemos indicar la entidad que esta mapeada al formulario mediante object-->
  <form th:action="@{/form}" th:object="${usuario}" method="post">
    <div>
      <label for="identificador">Identificador: </label>
      <div>
        <input type="text" th:field="*{identificador}" id="identificador">
      </div>
      <div th:if="${#fields.hasErrors('identificador')}"
           th:errors="*{identificador}">
      </div>
    </div>
    <div>
      <label for="nombre">Nombre: </label>
      <div>
        <input type="text" th:field="*{nombre}" id="nombre">
      </div>
      <div th:if="${#fields.hasErrors('nombre')}"
           th:errors="*{nombre}">
      </div>
    </div>
    <div>
      <label for="apellido">Apellido: </label>
      <div>
        <input type="text" th:field="*{apellido}" id="apellido">
      </div>
      <div th:if="${#fields.hasErrors('apellido')}"
           th:errors="*{apellido}">
      </div>
    </div>
    <div>
      <label for="username">Username: </label>
      <div>
        <!-- Se puede llamar a usuario, ya que Thymeleaf inyecta el usuario de forma implicita
              se debe usar el nombre definido en el param del mapping o declarando explicitamente con
              ModelAttribute
         -->
        <!-- se amarra el campo de una entidad con el input del form mediante el nombre del campo
              usando *
        -->
        <input type="text"  id="username" th:field="*{username}">

      </div>
      <!-- para mostrar los errores usaremos el helper #fields y para mostrar usaremos errors-->
      <div th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}">
      </div>
    </div>
    <div>
      <label for="password">Password: </label>
      <div>
        <input type="password" th:field="*{password}" id="password">
      </div>
      <div th:if="${#fields.hasErrors('password')}"
           th:errors="*{password}">
      </div>
    </div>
    <div>
      <label for="email">Email: </label>
      <div>
        <input type="email" th:field="*{email}" id="email">
      </div>
      <div th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}">
      </div>
    </div>
    <div>
      <div>
        <input type="submit" name="sendBtn" id="sendBtn" value="Enviar">
      </div>
    </div>
  </form>
</body>
</html>